@keyframes spinnerRotate{

    from{

        transform:rotate(0);

    }

    to{

        transform:rotate(360deg);

    }

}

.spinner{

    animation:

        spinnerRotate 1s linear infinite;

}
